.attractions {
  border: none;
  padding: 0;
  margin: 0;
}

.attractions__legend {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.attractions__list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.attractions__item-label {
  text-transform: none;
  color: $black;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
