.booking {
  background-color: $white;
}

.booking__headline {
  color: $black;
  font-style: bold;
  font-size: 21px;
  line-height: 26px;
}

.booking__description {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}
