.booking {
  background-color: $white;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.booking__headline {
  color: $black;
  font-style: bold;
  font-size: 21px;
  line-height: 26px;
}

.booking__description {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.booking__link {
  margin: 0;
  padding: 0;
}
