.button {
  display: inline-block;
  min-height: 58px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $blue;
  color: $white;
  font-style: bold;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  border: none;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-down;
    color: rgba($white, 0.3);
  }
}
