.contact {
  border: none;
  padding: 0;
  margin: 0;
  padding-bottom: 14px;
}

.contact__legend {
  max-width: 350px;
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 16px;
}

.contact__list {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.contact__item {
  padding: 0;
  margin: 0;
  padding-bottom: 12px;
  position: relative;
  &:first-child:after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $grey-200;
    background-image: url("../img/Icons/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 33px;
    right: 0px;
  }
  &:last-child:after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $grey-200;
    background-image: url("../img/Icons/mail.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 33px;
    right: 0px;
  }
}

.contact__item-label {
  padding-left: 22px;
  overflow-wrap: normal;
}

.contact__data {
  border: none;
  display: block;
  color: $black;
  background-color: $grey-100;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  padding-left: 22px;
  padding-top: 3px;
  padding-right: 22px;
  margin-top: 7px;
  width: calc(100% - 60px);
  height: 60px;
}

.contact__data:hover {
  background-color: $grey-disabled;
}

.contact__data:focus {
  background-color: $white;
  outline: none;
  border: 4px solid $grey-disabled;
}

.contact__data::-webkit-input-placeholder {
  color: $black;
}


.contact__data--failure:placeholder-shown {
  outline: none;
  border: 2px solid red;
}



/********* T A B L E T     T U N E S **********************/



@media (min-width: $tablet-width) {
  .contact__legend {
    font-size: 21px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 21px;
  }
  .contact__item {
    padding-bottom: 24px;
  }

  .contact__item:last-of-type {
    padding-bottom: 30px;
  }



}

/********* D E S K T O P    T U N E S **********************/

@media (min-width: $desktop-width) {

  .contact__item:first-child:after {
    top: 7px;
    right: 81px;
  }
  .contact__item:last-child:after {
    top: 7px;
    right: 0px;
  }

  .contact__legend {
    padding-bottom: 62px;
  }

  .contact__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact__item:last-of-type {
    padding-bottom: 32px;
  }


  .contact__item-label {
    margin: 0;
    padding: 0;
    display: flex;
    align-items:baseline;
    margin-left: -2px;

  }


  .contact__item:first-child .contact__item-label {
    font-size: 0;
  }


  .contact__item:first-child .contact__item-label::before {
    content: "телефон*";
    font-size: 14px;
  }

  .contact__data {
    margin-left: 18px;
  }

  .contact__item:first-child .contact__data{
    margin-right: 141px;
  }

  .contact__item:last-child .contact__data{
    margin-right: 60px;
  }

}

