
.copyright {
  display: flex;
  justify-content:center;
  column-gap: 10px;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
}

.copyright__link {

  width: 27px;
  height: 35px;
  color: $black;

  &:hover {
    color: $blue;
  }

  &:active {
    color: $black;
    opacity: 0.3;
  }
}
