.features {
  background-color: $grey;
  text-align: center;
  padding: 0;
  margin: 0;
}

.features__header {
  position: relative;
  padding-bottom: 10px;
  background-color: $white;
}

.features__header::after {
  content: "";
  display: block;
  position: relative;
  width: auto;
  height: 37px;
  background-image: url("../img/Decorations/features-header-triangle.svg");
  background-repeat: no-repeat;
  background-color: $blue;
  background-size: 768px 37px;
  background-position: center bottom;
  bottom: -12px;
}


.features__slogan {
  font-family: "PT Sans";
  color: $black;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-left: 26px;
  padding-right: 30px;
  padding-top: 32px;
  padding-bottom: 25px;
}


.features__intro {
  line-height: 26px;
  margin: 0;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}


.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.features__item {
  background-color: $grey;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 24px;
  padding-left: 35px;
  padding-right: 35px;
  min-height: 168px;
}

.features__item:not(:last-of-type):nth-of-type(n+3) {
  border-bottom: 1px solid $grey-250;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 18px;
  margin-right: 18px;
}

.features__item--alternative {
  background-color: $white;
  padding: 0;
  margin: 0;
  height: auto;
  display: grid;
}


.features__item--alternative:nth-of-type(1)::after {
  content: "";
  display: block;
  height: 260px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-image: url("../img/Photo/features/features-real-town-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 520px 260px;
  background-position: center bottom;
  order: -1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/Photo/features/features-real-town-mobile@2x.jpg");
  }

  @media (min-width: 520px) {
    height: 256px;
    background-image: url("../img/Photo/features/features-real-town-all.jpg");
    background-size: 800px 256px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/Photo/features/features-real-town-all@2x.jpg");
    }
  }
}


.features__item--alternative:nth-of-type(2)::after {
  content: "";
  display: block;
  height: 260px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-image: url("../img/Photo/features/features-devil-bridge-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 520px 260px;
  background-position: center bottom;


  @media (min-resolution: 2dppx) {
    background-image: url("../img/Photo/features/features-devil-bridge-mobile@2x.jpg");
  }

  @media (min-width: 520px) {
    height: 256px;
    background-image: url("../img/Photo/features/features-devil-bridge-all.jpg");
    background-size: 800px 256px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/Photo/features/features-devil-bridge-all@2x.jpg");
    }
  }

}


.features__item-text-block {
  display: block;
  background-color: $blue;
  color: $white;
  min-height: 190px;
  padding-top: 39px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  order: -1;
}


.features__headline {
  color: $black;
  font-style: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 11px;
}

.features__headline br {
  display: none;
}

.features__headline--alternative {
  color: $white;
}


.features__number {
  margin: 0;
  padding-bottom: 17px;
}


.features__description {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.features__description br {
  display: none;
}

.features__description span {
  white-space: nowrap;
}


/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {

  .features__header {
    position: relative;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 50px;
  }

  .features__header::after {
    display: none;
  }

  .features__slogan {
    font-size: 21px;
    line-height: 26px;
  }


  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }


  .features__item {
    min-height: 256px;
    padding-top: 44px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .features__item:not(:last-of-type):nth-of-type(n+3) {
    border-bottom: none;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .features__item--alternative {
    padding: 0;
    margin: 0;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 3;
    align-items: end;
  }


  .features__item--alternative:nth-of-type(1)::after {
    grid-column: span 2;
    background-image: url("../img/Photo/features/features-real-town-tablet.jpg");
    background-size: 512px 256px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/Photo/features/features-real-town-tablet@2x.jpg");
    }

    @media (min-width: 769px) {
      background-image: url("../img/Photo/features/features-real-town-all.jpg");
      background-size: 800px 256px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/Photo/features/features-real-town-all@2x.jpg");
      }
    }
  }

  .features__item--alternative:nth-of-type(2)::after {
    grid-column: span 2;
    background-image: url("../img/Photo/features/features-devil-bridge-tablet.jpg");
    background-size: 512px 256px;
    order: -2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/Photo/features/features-devil-bridge-tablet@2x.jpg");
    }

    @media (min-width: 769px) {
      height: 256px;
      background-image: url("../img/Photo/features/features-devil-bridge-all.jpg");
      background-size: 800px 256px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/Photo/features/features-devil-bridge-all@2x.jpg");
      }
    }
  }


  .features__item-text-block {
    height: 256px;
    min-width: 256px;
    padding-top: 45px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }


  .features__headline {
    font-size: 21px;
    padding-bottom: 12px;
  }

  .features__headline br {
    display: inline;
  }

  .features__headline span {
    display: none;
  }

  .features__number {
    margin: 0;
    padding-bottom: 23px;
  }

  .features__description {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

}


/******************* D E S K T O P    T U N E S **********************/

@media (min-width: $desktop-width) {
  .features__header {
    position: relative;
    padding-top: 21px;
    padding-bottom: 15px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 41px;
  }


  .features__item-text-block {
    padding-top: 51px;
    padding-left: 55px;
    padding-right: 55px;
  }

  .features__description br {
    display: inline;
  }
}
