.feedback {
  background-color: $white;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.feedback__header {
  min-height: 203px;
}

.feedback__title {
  color: $black;
  font-style: bold;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 28px;
  margin: 0;
}

.feedback__intro {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.feedback__form {
  background-color: $white;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 0 auto;
  position: relative;
}

.feedback__item {
  position: relative;
}

.feedback__item:nth-of-type(n) legend::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 40px);
  height: 1px;
  background-color: $grey-disabled;
  top: 0px;
  left: -20px;
}


.feedback__button {
  width: 280px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding-top: 19px;
  padding-bottom: 19px;
}

.feedback__comment {
  padding: 0;
  margin: 0;
  display: none;
}



/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {
  .feedback {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 62px;
  }

  .feedback__title {
    font-size: 30px;
    padding-top: 62px;
    padding-bottom: 33px;
    padding-right: 3px;
  }

  .feedback__intro {
    padding-left: 105px;
    padding-right: 108px;
    padding-bottom: 86px;
  }

  .feedback__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  .feedback__item:nth-of-type(2) {
    grid-column: span 2;
  }

  .feedback__item:nth-of-type(3) {
    order: -1;
  }

  .feedback__item:nth-of-type(4) {
    grid-column: span 2;
  }

  .feedback__item:nth-of-type(5) {
    grid-column: span 2;
  }


  .feedback__item:nth-of-type(n+2) legend::before {
    content: "";
    display: block;
    position: absolute;
    width: 19%;
    height: 1px;
    background-color: $grey-disabled;
    top: 31px;
    left: 0px;
  }

  .feedback__item:nth-of-type(n+2) legend::after {
    content: "";
    display: block;
    position: absolute;
    width: 19%;
    height: 1px;
    background-color: $grey-disabled;
    top: 31px;
    right: 0px;
  }


  .feedback__item:nth-of-type(3) legend::before,
  .feedback__item:nth-of-type(3) legend::after {
    display: none;
  }

  .feedback__item:nth-of-type(1) legend::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 292px;
    background-color: $grey-disabled;
    top: 2px;
    left: -1px;
  }


  .feedback__button {
    width: 322px;
    padding-right: 40px;
  }

  .feedback__comment {
    display: block;
    text-align: right;
    font-size: 14px;
    padding-top: 20px;
  }
}

/********* D E S K T O P    T U N E S **********************/

@media (min-width: $desktop-width) {
  .feedback {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 67px;
  }

  .feedback__title {
    padding-top: 111px;
    padding-bottom: 34px;
    padding-right: 4px;
  }

  .feedback__intro {
    padding-left: 260px;
    padding-right: 265px;
    padding-bottom: 58px;
  }

  .feedback__button {
    width: 480px;
    padding-right: 35px;
  }

  .feedback__item:nth-of-type(n+2) legend::before,
  .feedback__item:nth-of-type(n+2) legend::after {
    width: 280px;
  }

}
