.feedback {
  background-color: $white;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.feedback__title {
  color: $black;
  font-style: bold;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.feedback__intro {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.feedback__form {
  background-color: $white;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  padding: 0 20;
  margin: 0 auto;
  width: fit-content;
}



/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {
  .feedback__form {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .feedback__form-contact {
    grid-column: span 2;
  }

  .feedback__form-impression {
    order: -1;
  }

  .feedback__form-attractions {
    grid-column: span 2;
  }

  .feedback__form-review {
    grid-column: span 2;
  }



}
