.map {
  height: 350px;
  background-color: $white;
  background-image: url("../img/map-all.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}


.map__interactive {
  height: 350px;
  width: 100%;
}
