.page-footer {
  background-color: $white;
  text-align: center;
}

.page-footer__hashtag {
  color: $black;
  font-style: bold;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}



/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {
  .page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
