.page-footer {
  background-color: $white;
}

.page-footer__map {
  height: 350px;
  width: 320px;
  background-color: $white;
  background-image: url("../img/Photo/map-mobile.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.page-footer__hashtag {
  color: $black;
  font-style: bold;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
