.page-header {
  position: relative;
  background-color: $white;
  padding-bottom: 56px;
  z-index: 1;
}


.page-header__logo {
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translateX(-50%);
}


.page-header__button {
  position: absolute;
  cursor: pointer;
  width: 23px;
  height: 22px;
  border: none;
  background-color: $white;
  background-image: url("../img/Icons/page-header-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  bottom: 17px;
  right: 20px;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}



/************ O N L Y   M O B I L E   T U N E S ******************/


@media (max-width: $mobile-width-only) {

  .page-header__navigation {
    position: relative;
  }

  .page-header__close-button {
    position: absolute;
    content: "";
    cursor: pointer;
    border: none;
    background-color: $blue;
    width: 22px;
    height: 22px;
    background-image: url("../img/Icons/page-header-close-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 19px;
    right: 21px;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }

  .page-header__navigation--mobile-closed {
    display: none;
  }

  .page-header__navigation--no-js {
    display: block;
  }
}



/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {

  .page-header {
    padding-bottom: 0;
  }

  .page-header__logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-header__button {
    position: absolute;
    display: none;
  }


  .page-header__close-button {
    position: absolute;
    display: none;
  }
}

