.page-header {
  padding-bottom: 446px;
  overflow: hidden;
  background-color: $white;
  background-image: url("../img/Photo/back-picture.png");
  background-repeat: no-repeat;
  background-size: 901px 390px;
  background-position: center bottom;
  position: relative;
}

.page-header__logo {
  position: absolute;
  bottom: 356px;
  left: 50%;
  transform: translateX(-50%);
}

.page-header__button {
  position: absolute;
  bottom: 400px;
  right: 10px;
}



/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {

  .page-header {
  padding-bottom: 520px;
  overflow: hidden;
  background-color: $white;
  background-image: url("../img/Photo/back-picture.png");
  background-repeat: no-repeat;
  background-size: 1200px 520px;
  background-position: center bottom;
  position: relative;
  }

  .page-header__logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-header__button {
    position: absolute;
    display: none;
  }
}
