.personal {
  border: none;
  width: 320px;

  padding: 0 auto;
  margin: 0 auto;

}

.personal__legend {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.personal__list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.personal__data {
  border: none;
  color: $black;
  background-color: $grey-100;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100px;
}

/*.personal__data::-webkit-input-placeholder {
  color: $black;
}*/
