.photo {
  background-color: $white;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 11px;
  text-align: center;
}

.photo__info {
  padding: 0;
  margin: 0;
}

.photo__title {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-left: 1px;
  padding-bottom: 28px;
}

.photo__intro {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-left: 1px;
  padding-bottom: 60px;
}

.photo__list {
  list-style: none;
  width: fit-content;
  padding: 0;
  margin: 0 auto;
}

.photo__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.photo__name {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-top: 12px;
}

.photo__author {
  font-style: normal;
  color: $black;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-bottom: 13px;
}

.photo__likes {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 36px;
  padding-bottom: 38px;
  position: relative;
  &::before {
    content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 21px;
  background-image: url("../../img/Icons/like-icon-grey.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -2px;
  left: -1px;
  }
}

.photo__image {
  width: 280px;
  height: 280px;
  object-fit: cover;
  order: -1;
}



/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {

  .photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .photo__item {
    background-color: $grey-100;
  }

  .photo__item:first-child {
    grid-column: span 2;
  }

  .photo__item:first-child .photo__image {
    width: 648px;
    height: 400px;
  }

  .photo__image {
    width: 324px;
    height: 267px;
  }
}
