.photo {
  background-color: $white;
}

.photo__title {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.photo__intro {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.photo__list {
  list-style: none;
}

.photo__name {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.photo__author {
  font-style: normal;
  color: $black;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.photo__likes {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
