.photo {
  background-color: $white;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 11px;
  text-align: center;
  overflow: hidden;
}


.photo__title {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-left: 1px;
  padding-bottom: 28px;
}

.photo__intro {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-left: 1px;
  padding-bottom: 60px;
}

.photo__list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.photo__item {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: center;
}

.photo__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 1152px;
  height: 1px;
  background-color: $grey-disabled;
  top: -21px;
  left: -384px;
}

.photo__item::after {
  content: "";
  display: block;
  position: absolute;
  width: 1152px;
  height: 1px;
  background-color: $grey-disabled;
  bottom: 20px;
  left: -384px;
}

.photo__info {
  padding: 0;
  margin: 0;
  color: $black;
  line-height: 24px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.photo__name {
  font-style: bold;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-top: 12px;
}

.photo__author {
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  padding: 0;
  margin: 0;
  padding-bottom: 13px;
}

.photo__likes {
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  padding: 0;
  margin: 0;
  padding-left: 36px;
  padding-bottom: 38px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 21px;
    background-image: url("../img/Icons/like-icon-grey.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -2px;
    left: -1px;
  }
}

.photo__image-wrapper {
  order: -1;
}


.photo__image {
  display: block;
  width: auto;
  height: 280px;
  object-fit: cover;
  order: -1;
}




/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {
  .photo {
    padding-top: 33px;
    padding-bottom: 56px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .photo__title {
    font-size: 30px;
    padding-left: 0px;
    padding-bottom: 34px;
  }

  .photo__intro {
    padding: 0;
    padding-right: 111px;
    padding-left: 109px;
    padding-bottom: 80px;
  }


  .photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
  }

  .photo__item {
    background-color: $grey-100;
  }

  .photo__item::before {
    display: none;
  }

  .photo__item::after {
    display: none;
  }


  .photo__item:first-child {
    grid-column: span 2;
  }

  .photo__item:first-child .photo__image {
    width: fit-content;
    height: 400px;
  }

  .photo__info {
    padding: 0;
    margin: 0;
    position: relative;
    padding-top: 4px;
    padding-left: 19px;
    padding-right: 20px;
  }

  .photo__author {
    padding-bottom: 17px;
  }


  .photo__likes {
    position: absolute;
    top: 30px;
    right: 31px;
    padding-left: 31px;
  }

  .photo__item:first-child .photo__likes {
    right: 20px;
  }

  .photo__image {
    width: auto;
    height: 267px;
  }
}


/********* D E S K T O P    T U N E S **********************/

@media (min-width: $desktop-width) {
  .photo {
    padding-top: 33px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .photo__title {
    padding-top: 65px;
  }

  .photo__intro {
    padding: 0;
    padding-right: 380px;
    padding-left: 380px;
    padding-bottom: 80px;
  }


  .photo__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
  }

  .photo__item {
    position: relative;
  }

  .photo__item:first-child {
    grid-column: span 3;
  }

  .photo__item:first-child .photo__image {
    width: 1200px;
    height: 400px;
  }

  .photo__info {
    color: $white;
    position: absolute;
    background-color: rgba($black, 0.6);
    bottom: 0px;
    width: 100%;
  }

  .photo__likes {
    &::before {
      background-image: url("../img/Icons/like-icon-white.svg");
    }
  }

  .photo__item:first-child .photo__likes {
    left: 1117px;
  }


  .photo__image {
    width: 400px;
    height: 267px;
  }

}
