.review {
  border: none;
  padding: 0;
  margin: 0;
}

.review__legend {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 22px;
  padding-bottom: 15px;
}


.review__textarea {
  border: none;
  color: $black;
  background-color: $grey-100;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 12px 20px;
  margin: 0;
  margin-bottom: 39px;
  width: 100%;
  min-height: 160px;
  resize: none;
}

.review__textarea:hover {
  background-color: $grey-disabled;
}

.review__textarea:focus {
  background-color: $white;
  outline: none;
  border: 4px solid $grey-disabled;
  padding-left: 16px;
  padding-top: 11px;
}

.review__textarea::-webkit-input-placeholder {
  color: $black;
}


/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {
  .review__legend {
    font-size: 21px;
    padding-top: 22px;
    padding-bottom: 55px;
    padding-right: 5px;
  }

  .review__textarea {
    padding: 17px 20px;
    margin-bottom: 49px;
  }



}


/********* D E S K T O P    T U N E S **********************/

@media (min-width: $desktop-width) {
  .review__legend {
    padding-bottom: 57px;
  }

  .review__textarea {
    padding: 15px 20px;
    margin-bottom: 47px;

  }

}

