.site-list {
  font-family: "PT Sans";
  list-style: none;
  background-color: $white;
  padding: 0;
  margin: 0;
  min-width: 320px;

}


.site-list__item {
  display: block;
  height: 56px;
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: $white;
  background-color: $blue;
  border-bottom: 1px;
  padding-top: 10px;
}


.site-list__item:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}


.site-list__item:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}


.site-list__item-link {
  display: block;
  color: $white;
  text-align: center;
}




/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {

  .site-list {
    min-height: 56px;
    min-width: 768px;
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }


  .site-list__item {
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: $black;
    background-color: $white;
    border: none;
    min-width: 153px;
    height: auto;
    padding: 0;
    border-bottom: none;
  }

   .site-list__item:nth-child(4n+2) {
    margin-right: 78px;
   }

   .site-list__item:nth-child(4n+3) {
    margin-left: 78px;
   }


  .site-list__item:not(:last-child) {
    border-bottom: none;
  }


  .site-list__item:not(:first-child) {
    border-top: none;
  }

  .site-list__item-link {
    color: $black;
    text-align: center;
  }

}

/********* D E S K T O P    T U N E S **********************/

@media (min-width: $desktop-width) {
  .site-list {
    min-width: auto;
    max-width: 1200px;
  }

  .site-list__item {
    min-width: 234px;
    width: 234px;
  }

  .site-list__item:nth-child(4n+2) {
    margin-right: 122px;
   }

   .site-list__item:nth-child(4n+3) {
    margin-left: 122px;
   }


}
