.site-list {
  font-family: "PT Sans";
  list-style: none;
  background-color: $white;
  max-width: 320px;
  padding: 0;
  margin: 0;
}


.site-list__item {
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: $white;
  background-color: $blue;
  border-bottom: 1px;
}


.site-list__item:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}


.site-list__item:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}


.site-list__item-link {
  display: block;
  color: $white;
  text-align: center;
}
