.video {
  background-color: $white;
  margin: 0 auto;
}


.video__title {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.video__intro {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.video__clip {
  width: 280px;
  height: 280px;
  position: relative;
  left: calc(50% - 140px);
  margin: 0 auto;
}


/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {
  .video__clip {
    width: 648px;
    height: 500px;
    position: relative;
    left: calc(50% - 324px);
    margin: 0 auto;
  }

}
