.video {
  background-color: $white;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 41px;
}


.video__title {
  font-style: bold;
  color: $black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  padding-bottom: 15px;
  margin: 0;
}

.video__intro {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 0 30px;
  padding-bottom: 19px;
}

.video__player {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.video__clip-image {
  display: block;
  width: 320px;
  height: 200px;
}

.video__timescale {
  position: absolute;
  width: 280px;
  height: 45px;
  margin: 0 20px;
  padding-top: 23px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: rgba($black, 0.6);
  border-radius: 2px;
  bottom: 65px;
}

.video__timescale-bar {
  height: 3px;
  background: $white;
  opacity: 0.2;
}

.video__timescale-toggle {
  position: relative;
  top: -6px;
  width: 10px;
  height: 10px;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
}

.video__control {
  width: 280px;
  height: 66px;
  background-color: $grey-100;
  padding: 0;
  padding-top: 1px;
  margin: 0 auto;
  display: flex;
}

.video__control-button {
  display: block;
  width: 70px;
  height: 66px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: $grey-100;
  cursor: pointer;
  color: $grey-300;

  &:hover {
    color: $grey-text;
  }

  &:active {
    opacity: 0.3;
  }
}

.button--replay {
  margin-right: auto;
}

.button--replay svg {
  display: block;
  margin: 0;
  padding: 0;
  margin: auto auto;
}

.button--subs {
  margin-right: 3px;
}

.button--subs svg {
  display: block;
  padding: 0;
  margin: auto 0 auto auto;
}


.button--fullscreen svg {
  margin: 0;
  padding: 0;
  margin: auto auto;
}




/********* T A B L E T     T U N E S **********************/

@media (min-width: $tablet-width) {
  .video {
    padding-left: 60px;
    padding-right: 60px;
  }

  .video__title {
    font-size: 30px;
    padding-right: 3px;
    padding-bottom: 20px;
  }

  .video__intro {
    padding-left: 100px;
    padding-right: 102px;
    padding-bottom: 65px;
  }

  .video__player {
    width: 648px;
  }

  .video__clip-image {
    display: block;
    width: 648px;
    height: 500px;
  }

  .video__timescale {
    position: absolute;
    width: 648px;
    height: 94px;
    margin: 0;
    padding-top: 45px;
    padding-right: 167px;
    padding-left: 92px;
    border-radius: 0px;
    bottom: -1px;
  }

  .video__timescale-toggle {
    z-index: 1;
  }

  .video__control {
    position: absolute;
    width: 648px;
    height: 95px;
    padding-left: 8px;
    padding-right: 16px;
    background-color: transparent;
    bottom: 1px;
    align-items: center;
  }

  .video__control-button {
    background-color: transparent;
    color: $white;

    &:hover {
      color: $white;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .button--subs {
    margin-right: 6px;
  }
}

/********* D E S K T O P    T U N E S **********************/

@media (min-width: $desktop-width) {
  .video {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 83px;
  }

  .video__intro {
    padding-left: 170px;
    padding-right: 170px;
  }

  .video__player {
    width: 800px;
  }

  .video__clip-image {
    width: 800px;
  }

  .video__timescale {
    width: 800px;
  }


  .video__control {
    width: 800px;
  }


}
