
$black: #000000;
$brown-active: #766357;
$brown-hover: #604e43;
$grey: #eeeeee;
$grey-100: #f2f2f2;
$grey-200: #e6e6e6;
$grey-disabled: #e5e5e5;
$grey-text: #333333;
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-down: #5496bd;
$white: #ffffff;
