// global

@import "global/fonts.scss";
@import "global/global.scss";
@import "global/variables.scss";

// blocks

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/welcome-block.scss";
@import "blocks/features.scss";
@import "blocks/hints.scss";
@import "blocks/booking.scss";
@import "blocks/button.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";


@import "blocks/feedback.scss";
@import "blocks/personal.scss";
@import "blocks/contact.scss";
@import "blocks/impression.scss";
@import "blocks/attractions.scss";
@import "blocks/review.scss";

@import "blocks/photo.scss";
@import "blocks/video.scss";




.page {
  height: 100%;
  min-width: 320px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $grey-text;
  background-color: $grey;
  text-transform: uppercase;
}

.page__body {
  max-width: 1200px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

}

.page__body--container {
  margin-left: auto;
  margin-right: auto;
}
